kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
    - containerPort: 30081 # pgadmin
      hostPort: 8081
    - containerPort: 30080 # nginx
      hostPort: 8080
    - containerPort: 30432 # postgresql
      hostPort: 5432
  - role: worker
    extraMounts:
     - containerPath: /postgres
       hostPath: /private/var/mnt/postgres
     - containerPath: /pgadmin
       hostPath: /private/var/mnt/pgadmin